<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Company name</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <button id="open-search-modal" type="button" class="w-50 btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Search
  </button>
  <div class="navbar-nav">
    <div class="nav-item">
    </div>
  </div>
</header>
<div id="modal-container">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <%= form_with url: admin_new_search_path, method: :post do |form| %>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Search</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= form.search_field :query, class: "form-control w-100 rounded-2 border", placeholder: "Search query", oninput: "this.form.requestSubmit()" %>
            <input type="hidden" name="source" value="modal">
          </div>
          <div class="modal-body">
            <div hidden id="search-loading-spinner" class="spinner-border text-primary text-align-center" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div id="search-results-modal">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
