<div class="d-flex">
  <a href="/admin/categories"><i class="fs-2 bi bi-arrow-left-square"></i></a>
</div>


<%= render "form", category: @category, formType: "Edit" %>

<br>
<%= button_to "Delete", admin_category_path(@category), method: :delete, class: "mt-5 btn btn-danger", data: {confirm: "Are you sure?"} %>
<br>

