<div class="d-flex">
  <a href="/admin/products"><i class="fs-2 bi bi-arrow-left-square"></i></a>
</div>
<%= render "form", product: @product, formType: "New" %>
<br>
<div>
  <%= link_to "Back to products", products_path %>
</div>
