

<%= render "form", category: @category, formType: "New" %>

<br>

<div class="d-flex justify-content-center">
  <%= link_to "Back to categories", categories_path, class: "btn btn-secondary" %>
</div>
