<p style="color: green"><%= notice %></p>
<h1 class="text-center">Categories</h1>
<div class="container">
  <div class="row row-cols-2 row-cols-md-1 row-cols-md-3 g-2">
    <% @categories.each do |category| %>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= category.category %> (<%= category.products.size %>)</h5>
            <h6><a href="/collections/<%= category.id %>">Show products</a></h6>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
