<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/maysen.greenwood"
        target="_blank"
        rel="noopener noreferrer"
        role="button"
        ><i class="bi bi-facebook"></i></a>

      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://www.linkedin.com/in/maysen-greenwood/"
        target="_blank"
        rel="noopener noreferrer"
        role="button"
        ><i class="bi bi-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/MaysenTG"
        target="_blank"
        rel="noopener noreferrer"
        role="button"
        ><i class="bi bi-github"></i
      ></a>
      
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="/users/sign_in"
        role="button"
        ><i class="bi bi-door-open"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Maysen Greenwood</a>
  </div>
  <!-- Copyright -->
</footer>